# Folders
node_modules/
.vscode/
.idea/

# System files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and certificate files
.env
*.pem

# Database dumps
*.sql

# Backup files
*.bak
