<!doctype html>
<html lang="fr">
<head>
    <%- include('../partials/head') %>
    <title>O'Coffee - Contact</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section id="contact" class="contact-container">
            <h1 class="page-title">Contactez-nous</h1>
            <form class="contact-form">
                <div class="form-group">
                    <label for="name">Nom :</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message :</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn">Envoyer !</button>
                  </div>
            </form>
            <div class="contact-info">
                <p>Adresse : 123 Rue du Café, 75000 Paris</p>
                <p>Téléphone : 01 23 45 67 89</p>
                <p>Email : contact@ocoffee.com</p>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>