<!-- views/pages/404.ejs -->
<%- include('../partials/header') %>

    <main class="page-404">
        <h2>Page non trouvée</h2>
        <p>Oups ! Il semble que cette page n'existe pas.</p>
        <a href="/" class="button">Retour à l'accueil</a>
    </main>

    </body>

    </html>