<%- include('partials/header') %>
    <header>
        <h1>Liste des grandes capitales du monde</h1>
    </header>
    <main>
        <ul>
            <% for(const city of capitalCities) { %>
                <li><a href="/city/<%= city.name.toLowerCase() %>">
                        <%= city.name %>
                    </a></li>
                <% } %>
        </ul>
    </main>
    <%- include('partials/footer') %>