<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Common styles, scripts, and meta tags -->
  <%- include('../partials/head') %>

  <!-- Title -->
  <title>oCoffee | Internal error</title>

  <!-- Style -->
  <link rel="stylesheet" href="/css/pages/error.css">
</head>

<body>
  <%- include('../partials/header') %>

  <main>
    <section id="error">
      <h1>Une erreur s'est produite.</h1>

      <p>Veuillez réessayer plus tard.</p>

      <p>Si l'erreur persiste, merci de contacter directement la boutique.</p>
  
      <a href="/" class="button">Retour à l'accueil</a>
    </section>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>
