<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Common styles, scripts, and meta tags -->
  <%- include('../partials/head') %>

  <!-- Title -->
  <title>oCoffee | Page non trouvée</title>

  <!-- Style -->
  <link rel="stylesheet" href="/css/pages/not-found.css">
</head>

<body>
  <%- include('../partials/header') %>

  <main>
    <section id="not-found">
      <h1>Page non trouvée</h1>
  
      <a href="/" class="button">Retour à l'accueil</a>
    </section>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>
