<%- include('partials/head') %>
  <h1>Bonjour les <%= promoName %>
  </h1>
  <img src="/images/img.png" alt="Gandalf">
  <ul>
    <% for(const student of students) {%>
      <li>
        <%= student %>
      </li>
      <% } %>
  </ul>
  <%- include('partials/foot') %>