<header>
  <a href="/">
    <img src="/images/logo.svg" alt="logo oCoffee">
    oCoffee
  </a>

  <nav id="menu-navbar">
    <button id="menu-button" aria-label="Show navigation links">
      <?xml version="1.0" encoding="UTF-8"?><svg width="100%" height="100%" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="none"><path d="M3 5H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 12H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
    </button>

    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/catalog">Catalogue</a></li>
      <li><a href="#">Boutique</a></li>
    </ul>
  </nav>
</header>
