<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ghibliotheque est un site qui vous permet de consulter la liste des films du studio Ghibli">  
    <meta name="keywords" content="Ghibli, films, animation, japon, studio, Miyazaki">
    <meta name="author" content="Ghibliotheque">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ghibliotheque</title>
</head>

<header>
    <h1>Ghibliotheque</h1>
    <nav>
        <a href="/">Accueil</a>
        <a href="/films">Films</a>
    </nav>
</header>