<!-- views/partials/footer.ejs -->
<footer>
    <p>Contactez-nous : <a href="mailto:pepper-brothers@gmail.com">pepper-brothers@gmail.com</a> | Suivez-nous sur les
        réseaux sociaux</p>
    <p>&copy; <%= new Date().getFullYear() %> O'Coffee - Fait par JXR ✍️</p>
</footer>