</main>
<footer class="pt-4 border-top text-center">
    <small class="text-muted">Fait par JXR ✍️ et O'clock © 2017-2024</small>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/dom.js"></script>
</body>
</html>