<!-- views/footer.ejs -->
</main>
</div> <!-- Fermeture du conteneur global -->
<footer class="footer">
  <p>&copy; 2024 Triple Triad Deck Builder</p>
</footer>
</div> <!-- Fermeture de la div .page-wrapper -->
</body>

</html>