<%- include('header') %>

<h1>Chercher des cartes</h1>

<form action="/search/all" method="get" class="search-form">
  <div class="search-container">
    <div class="search-section">
      <label for="element"><h3>Par élément</h3></label>
      <select name="element" id="element" class="search-input uniform-height">
        <option value="null">aucun</option>
        <option value="tonnerre">tonnerre</option>
        <option value="terre">terre</option>
        <option value="glace">glace</option>
        <option value="vent">vent</option>
        <option value="poison">poison</option>
        <option value="feu">feu</option>
        <option value="eau">eau</option>
        <option value="sacré">sacré</option>
      </select>
    </div>

    <div class="search-section">
      <label for="level"><h3>Par Niveau</h3></label>
      <input type="number" name="level" id="level" min="0" max="10" value="0" class="search-input uniform-height">
    </div>

    <div class="search-section">
      <label for="direction"><h3>Par valeur</h3></label>
      <select name="direction" id="direction" class="search-input uniform-height">
        <option value="north">Nord</option>
        <option value="east">Est</option>
        <option value="south">Sud</option>
        <option value="west">Ouest</option>
      </select>
      <label for="value" class="value-label">Valeur</label>
      <input type="number" name="value" id="value" min="0" max="10" value="0" class="search-input uniform-height">
    </div>

    <div class="search-section">
      <label for="name"><h3>Par nom</h3></label>
      <input type="text" name="name" id="name" placeholder="Entrez le nom" class="search-input uniform-height">
    </div>
  </div>

  <div class="button-container">
    <input type="submit" value="Chercher" class="button">
  </div>
</form>

<%- include('footer') %>
