<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page non trouvée</title>
    <link rel="stylesheet" href="/public/404.css">
</head>
<body>
    <h1>Oups ! Page non trouvée</h1>
    <p>Il semble que la page que vous cherchez n'existe pas.</p>
    <img src="/public/images/images.jpeg" alt="404 Image">
    <a href="/">Retour à l'accueil</a>
</body>
</html>
