<%- include('partials/head') %>

<h3>Invaders</h3>

<body class="page-ctn">
    <div class="invader-container">
      <form class="configuration"></form>
      <div id="invader"></div>
    </div>

<script src="/js/invaders.js"></script>

</body>
</html>