<!-- src/views/signup.ejs -->
<%- include("partials/header", {pageTitle: "Inscription"}) %>
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mb-4">Inscription</h1>
            <% if (typeof error !== 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <form action="/signup" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="firstname">Prénom</label>
                    <input class="form-control" type="text" id="firstname" name="firstname" placeholder="Prénom" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="lastname">Nom</label>
                    <input class="form-control" type="text" id="lastname" name="lastname" placeholder="Nom" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="email@domain.com" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Mot de passe</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="*********" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirmation">Confirmation du mot de passe</label>
                    <input class="form-control" type="password" id="confirmation" name="confirmation" placeholder="*********" required>
                </div>
                <button type="submit" class="btn btn-primary d-block w-100 mt-4">S'inscrire</button>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer") %>